<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.tracecompass.tmf.attributetree.ui.views.AttributeTreeView"
            id="org.eclipse.linuxtools.tmf.statemachine.ui.attributeTreeView"
            name="Attribute tree"
            restorable="true">
      </view>
   </extension>
   
   <!-- Wizard extension -->
	<!--<extension
		point="org.eclipse.ui.newWizards">
		<wizard
			class="org.eclipse.tracecompass.tmf.attributetree.ui.wizard.AttributeTreeWizard"
			id="org.eclipse.tracecompass.tmf.statemachine.attributetree.ui.wizard.newAttributeTree"
			name="New Attribute Tree">
		</wizard>
	</extension>-->

</plugin>
