<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated state_machine -->
      <package
            uri="org.eclipse.tracecompass.tmf.statemachine"
            class="statemachine.StatemachinePackage"
            genModel="model/state_machine.genmodel"/>
   </extension>

</plugin>
